<div id="main-content">
  <div class="container-fluid">


    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">

          <div class="body"  >
            <div class="table-responsive">
              <div class="box rte box-without-bottom-padding" STYLE="
    padding-left: 226px;
">

                <div class="header">
                  <h2>stage List</h2>

                    <button class="btn btn-primary" data-toggle="modal" data-target="#ajoutestage">Add New</button>

                </div>

                <div class="tableWrap table-responsive">
              <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                <thead class="thead-dark">
                <tr>

                  <th>reference</th>
                  <th>theme</th>

                  <th>Date_debut</th>
                  <th>Date_fin</th>
                  <th>description</th>
                  <th>sujet</th>
                  <th>rapport</th>
                  <th>duree</th>
                  <th>type</th>
                  <th>note</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let stage of Listestage">


                  <td>{{stage.reference}}</td>
                  <td><span>{{stage.theme}}</span></td>

                  <td><span>{{stage.date_debut|date}}</span></td>

                  <td>{{stage.date_fin|date}}</td>
                  <td>{{stage.description}}</td>
                  <td>{{stage.sujet}}</td>
                  <td >
                    <a href="http://localhost:9000/upload/files/{{stage.rapport}}" >{{stage.rapport}}</a>
                  </td>
                  <td>{{stage.duree}}</td>
                  <td>{{stage.type}}</td>
                  <td>{{stage.note}}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modifstage" (click)="recuper(stage.id,stage.theme, stage.description, stage.type, stage.sujet, stage.date_debut, stage.date_fin, stage.reference,stage.duree, stage.note, stage.rapport)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete"
                            (click)="deletestage(stage.id)" data-type="confirm"><i class="fa fa-trash-o"></i></button>

                  </td>
                </tr>

                </tbody>
              </table>
                </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal animated zoomIn" id="ajoutestage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="title" id="defaultModalLabel">Ajout stage</h6>
      </div>
      <div class="modal-body">
        <form [formGroup]="stageForm" (ngSubmit)="ajoutestage()">
          <div class="row clearfix">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="theme" placeholder="theme" [ngClass]="{ 'is-invalid': submitted && f.theme.errors }" />
                <div *ngIf="submitted && f.theme.errors" class="invalid-feedback">
                  <div *ngIf="f.theme.errors.required">theme is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="description" placeholder="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">description" is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control"  formControlName="type" placeholder="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                  <div *ngIf="f.type.errors.required">type is required</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="sujet" placeholder="sujet" [ngClass]="{ 'is-invalid': submitted && f.sujet.errors }" />
                <div *ngIf="submitted && f.sujet.errors" class="invalid-feedback">
                  <div *ngIf="f.sujet.errors.required">sujet is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control" formControlName="date_debut" placeholder="date_debut" [ngClass]="{ 'is-invalid': submitted && f.date_debut.errors }" />
                <div *ngIf="submitted && f.date_debut.errors" class="invalid-feedback">
                  <div *ngIf="f.date_debut.errors.required">date_debut is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control" formControlName="date_fin" placeholder="date_fin" [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }" />
                <div *ngIf="submitted && f.date_fin.errors" class="invalid-feedback">
                  <div *ngIf="f.date_fin.errors.required">date_fin is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="reference" placeholder=" reference" [ngClass]="{ 'is-invalid': submitted && f.reference.errors }" />
                <div *ngIf="submitted && f.reference.errors" class="invalid-feedback">
                  <div *ngIf="f.reference.errors.required">reference is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="duree" placeholder=" duree" [ngClass]="{ 'is-invalid': submitted && f.duree.errors }" />
                <div *ngIf="submitted && f.duree.errors" class="invalid-feedback">
                  <div *ngIf="f.duree.errors.required">duree is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="note" placeholder="note"  />

              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input (change)="recuperFile($event)"  formControlName="rapport" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted"></small>
              </div>
              <hr>
            </div>

    </div>





    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Add</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
    </div>
    </form>

  </div>
</div>
</div>

</div>

